body,
html {
    background-color  : #FFF;
    color             : #212122;
    font-family       : Corbel, 'Lucida Grande', Helvetica, sans-serif;
    font-size         : 17px;
    line-height       : 1.5;
    margin            : 0 5px;
}

tt,
pre,
code,
samp,
kbd {
    color             : #000;
    font-family       : Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size         : 0.9em;
}

pre {
    background-color  : #F9F9F9;
    color             : #333;
    white-space       : pre-wrap;
}

code {
    color             : #007A00;
}

a {
    background        : #F9FC7E;
    color             : #333;
    padding           : 1px 2px;
    text-decoration   : none;
}

a:hover {
    background        : none;
    color             : #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family       : Georgia, 'Bitstream Vera Sans Serif', 'Lucida Grande', Helvetica, Verdana, sans-serif;
    letter-spacing    : -.025em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    background        : none;
}

h3 {
    color             : #666;
    font-weight       : normal !important;
    margin-bottom     : 0;
}

h1,
h2,
h4 {
    color             : #666;
    font-weight       : 400;
    margin-bottom     : 0;
}

img {
    background        : #FFF !important;
    margin            : 0;
    padding           : 5px;
}

img a {
    background        : #FFF !important;
    margin            : 0;
    text-decoration   : none !important;
}

input {
    border            : 1px solid #999;
}

blockquote {
    border-left       : 5px solid #FC8141;
    margin-left       : 0;
    padding-left      : 2em;
}

.disqus a {
    background        : #FFF !important;
    text-decoration   : none !important;
}

.header {
    margin-bottom     : 18px;
}

.wrapper {
    margin            : 1em auto;
    width             : 620px;
}

.main {
    margin            : 50px 0;
}

.datetime {
    color             : #888;
    float             : left;
    font-size         : 1em;
    line-height       : 1em;
    margin-left       : -200px;
    padding           : 10px 3px;
    text-align        : right;
    width             : 175px;
}

.navleft {
    float             : left;
    font-size         : 12px;
    position          : relative;
}

.navright {
    float             : right;
    font-size         : 12px;
    position          : relative;
}

.navcenter {
    font-size         : 12px;
    text-align        : center;
    width             : 500px;
}

.datetime a {
    color             : #666;
}

.post {
    padding-bottom    : 30px;
}

.post img {
    cursor            : pointer;
    max-width         : 600px;
}

.post a img {
    border            : none;
}

.disqus {
    color             : #333 !important;
    font-family       : Georgia, 'Times New Roman', Times !important;
    line-height       : 150% !important;
    size              : 16px;
}

.allposts, .disqus {
    border-top        : 1px solid #CCC;
    clear             : both;
    float             : left;
    margin-top        : 30px;
    width             : 620px;
}

.allposts li {
    list-style-type   : none;
    margin-left       : -40px;
    margin-top        : 7px;
}

.allposts li a {
    background        : none;
}

.allposts li span {
    float             : right;
}