* {
    box-sizing: border-box
}

html {
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    font: 16px/1.79 avenir lt, avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
    font-size: 16px;
    font-size: calc(16px + (24 - 16) * (100vw - 320px)/(750 - 320));

    max-width: 740px;
    margin: 0 auto 120px;
}


h1 {
    font-size: 1.666em;
    margin: 0 0 .5em;
    line-height: 1.3
}

h2 {
    font-size: 1.583em;
    line-height: 1.3;
    margin: 1em 0;
}

h3 {
    line-height: 1.5;
    margin: 1em 0 0
}

h4 {
    line-height: 1.3;
    margin: 1em 0 0;
    font-size: 1em
}

p,
ul,
ol {
    margin: 0 0 1.85em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9em;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: thin dotted #f89406;
    outline: 5px auto #f89406;
    outline-offset: -2px
}


@media(min-width:750px) {
    body {
        font-size: 24px;
    }
}



@media print {
    body {
        max-width: none;
    }
}
