<!-- HTML 5 baby! -->
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <!-- I'm so META! -->
        <meta charset="utf-8">
        <meta name="author" content="Ali Karbassi">

        <!-- Let's add some prettiness. -->
        <link rel="stylesheet" href="/css/screen.css" media="screen">
        <link rel="stylesheet" href="/css/highlight.css" media="all">

        <!-- You better be using this RSS feed! -->
        <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/karbassi/tech">

        <!-- Hey, iPhone users ;) -->
        <meta name="viewport" content="width=775">

        <!-- Seriously, upgrade to IE8 or even a Safari, Firefox, or Opera! -->
        <!--[if lte IE 8]><script>(function(){var e="abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i]);}}());</script><![endif]-->

        <!-- I bow down to my overlord, Google. -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-51850-6']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            ga.setAttribute('async', 'true');
            document.documentElement.firstChild.appendChild(ga);
          })();

        </script>
    </head>
    <body>
        <!-- Wraaaaaaaaaaaaaper -->
        <div class="wrapper">

            <!-- I'll switch over to header when it won't break my styles badly. -->
            <div class="header">
                <!-- I still believe in *one* H1 per page. -->
                <h1><a href="/">Mind Mining Medium</a></h1>
            </div>

            <div class="main">
                {{ content }}
            </div>
        </div>
    </body>
</html>